<!-- $Revision: 413 $ -->
<refentry id="{$id}">
   <refnamediv>
    <refname>Class {$class_name} Summary</refname>
    <refpurpose>{$sdesc|default:"&notdocumented"}</refpurpose>
   </refnamediv>
{include file="docblock.tpl" desc=$desc tags=$tags line_number=$line_number params=false}
{include file="var.tpl" vars=$vars my_id=$id}
   <refsect1 id="{$id}.heritage">
    <title>
     Heritage for {$class_name}
    </title>
    <refsect2 id="{$id}.heritage.class-trees">
     <title>
      Class Trees for {$class_name}
     </title>
     <para>
      {section name=tree loop=$class_tree}
      {section name=mine loop=$class_tree[tree]} {/section}<itemizedlist>
      {section name=mine loop=$class_tree[tree]} {/section} <listitem>
      {section name=mine loop=$class_tree[tree]} {/section} {$class_tree[tree]}
      {/section}
      {section name=tree loop=$class_tree}
      {section name=mine loop=$class_tree[tree]} {/section}</listitem>
      </itemizedlist>
      {/section}
     </para>
    </refsect2>
{if $children}
    <refsect2 id="{$id}.heritage.child-classes">
     <title>
      Classes that extend {$class_name}
     </title>
     <para>
      <table>
       <tgroup cols="2">
        <thead>
         <row>
          <entry>Class</entry>
          <entry>Summary</entry>
         </row>
        </thead>
        <tbody>
{section name=kids loop=$children}
         <row>
	      <entry>{$children[kids].link}</entry>
	      <entry>{$children[kids].sdesc}</entry>
         </row>
{/section}
        </tbody>
       </tgroup>
      </table>
     </para>
    </refsect2>
{/if}
{if $imethods}
    <refsect2 id="{$id}.heritage.inherited-methods">
     <title>
      {$class_name} Inherited Methods
     </title>
{include file="imethods.tpl" ivars=$ivars}
    </refsect2>
{/if}
{if $ivars}
    <refsect2 id="{$id}.heritage.inherited-vars">
     <title>
      {$class_name} Inherited Variables
     </title>
{include file="ivars.tpl" ivars=$ivars}
    </refsect2>
{/if}
   </refsect1>
</refentry>
<!-- Generated by phpDocumentor v {$phpdocversion} {$phpdocwebsite} -->
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
sgml-parent-document:nil
sgml-default-dtd-file:"../../../../manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->