p img {
    padding-bottom: 15px;
}

p, ul li {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 29px;
}

.navbar, .navbar ul li, .subnav ul li, .breadcrumb li {
	font-size: 13px;
	line-height: 18px;
}

.understate p {
    font-size: 18px;
    line-height: 28px;
}

hero-unit p {
	font-size: 24px;
	line-height: 40px;
}

.hero-unit {
	padding-bottom: 40px;
}

.sermonNotes {
	display: none;
}

.icListPadLess {
	height: 25px;
}

.icListPad {
	height: 50px;
}

.thumbnail > a > img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail > img {
	padding-top: 20px;
}

.thumbnail .caption {
        margin-left: 12px;
}

.preformat {
	white-space: pre;
}

form h3 {
	padding-bottom: 5px;
}

.controls p.error {
	padding-top: 5px#;
	color: #B94A48;
	font-size: 13px;
	line-height: 18px;
}

.fb-like-box, .fb-like-box span, .fb-like-box.fb_iframe_widget span iframe,
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;

}

#news_block img {
	padding-right: 10px;
}
